* {
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(premium_photo-1677187301535-b46cec7b2cc8.avif) ;
    background-size: cover;
   
}

#one {
    background-color: rgba(8, 8, 39, 0.755);
    padding: 10px;
    text-align: center;
    color: beige;
}


#addbtn{
    background-color: rgba(8, 8, 39, 0.755);
    color: beige;
    position: absolute;
    right: 40px;
    bottom: 40px;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 100%;
   
    
}

.navbar {
    margin: 35px;
   
}

.bookcontainer {
    width: 25%;
    padding: 15px;
    background-color: rgba(8, 8, 39, 0.755);
    color: beige;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    

}



.bookcontainer button {
    background-color: beige;
    color: rgba(8, 8, 39, 0.755);
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#overlay{
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;

}
#popup{
    background-color: rgba(8, 8, 39, 0.755);
    color: beige;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: 2;
    display: none;
    
}



#popup input::placeholder{
    color: beige;
}
#popup textarea::placeholder{
    color: beige;
}
#popup input:focus{
    outline: none;
}
#popup textarea:focus{
    outline: none;
}

.input1{
   
    background: transparent;
    color: beige;
    /* width: 100%; */
    border: none;
    border-bottom: solid beige;
    
    margin: 5px
    
    
}
.input2{
    
    background: transparent;
    color: beige;
    /* width: 100%; */
    border: none;
    border-bottom: solid beige;
   
    margin: 5px;

}
#description{
     background :transparent;
    color: beige;
    border: solid beige;
    /* width: 100%; */
    height: 100px;
    
    margin: 5px;
   
    
}
#cancel{
    background-color: beige;
    color: rgba(8, 8, 39, 0.755);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;



}
#addbook{
     background-color: beige;
    color: rgba(8, 8, 39, 0.755);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;

}
#buttoncontainer{
    display: flex;
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

